---
---

@import "{{ site.theme }}";

/* set container-lg to 80% max size */
.container-lg {
  max-width: 80%;
}

/* change font size */
.markdown-body {
  font-size: 14px;
}

/* modify table css */
table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
  overflow-x: visible;
}

/* disable word wrap in table */
th, td {
  white-space: nowrap;
  overflow-wrap: normal;
  word-break: normal;
}
