---
---

@import "{{ site.theme }}";

/* max 75% width and centered */
html,
body {
  margin: 0;
  padding: 0;
  max-width: 75vw;
  overflow-x: hidden;
}

/* modify table css */
table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
  display: table;
  overflow-x: visible;
}

/* disable word wrap in table */
th, td {
  white-space: nowrap;
  overflow-wrap: normal;
  word-break: normal;
}
